<a href="https://colab.research.google.com/github/kevin0409/AI_schoolwork/blob/main/Bagging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import os
import numpy as np
import pandas as pd

from sklearn.ensemble import BaggingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
data_path = '/content/drive/MyDrive/Colab Notebooks/house regression.csv'

In [12]:
data = pd.read_csv(data_path)
data.head()

,lat,long,bedrooms,bathrooms,floors,waterfront,grade,condition,sqft_living,sqft_lot,sqft_above,sqft_basement,yr_built,yr_renovated,year_2014,quarter_0,quarter_1,quarter_2,price
0,47.6747,-122.303,4,2.25,2.0,1,8,5,3750,5000,2440,1310,94,0,0,0,1,0,1310000
1,47.6914,-122.308,2,1.75,1.0,1,6,3,1390,6670,720,670,77,0,0,0,1,0,445500
2,47.5951,-122.144,5,2.00,1.5,1,7,3,1870,7344,1870,0,58,0,0,0,1,0,450000
3,47.3273,-122.370,3,2.00,1.0,1,7,4,1410,44866,1410,0,33,0,0,0,1,0,335000
4,47.3584,-122.163,5,3.00,2.0,1,9,3,3223,6371,3223,0,4,0,0,0,1,0,479349

In [14]:
y = data['price'].values

x = data.drop('price', axis = 1)
x = x.values

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 2023)

# **1. Fit Model**

In [16]:
tree = DecisionTreeRegressor()
tree.fit(x_train, y_train)
y_tree = tree.predict(x_test)

In [17]:
y_tree

array([520000., 353000., 360000., ..., 565000., 205000., 420000.])

In [22]:
treeBagging = BaggingRegressor(estimator=DecisionTreeRegressor(), n_estimators=100)

treeBagging.fit(x_train, y_train)
y_treeBagging = treeBagging.predict(x_test)

In [23]:
lr = LinearRegression()
lr.fit(x_train, y_train)
y_lr = lr.predict(x_test)

In [24]:
lrBagging = BaggingRegressor(estimator = LinearRegression(), n_estimators = 100)

lrBagging.fit(x_train, y_train)

y_lrBagging  = lrBagging.predict(x_test)

# **2. Evaluation**

In [27]:
mse_tree = mean_squared_error(y_true = y_test, y_pred = y_tree)

mse_treeBagging = mean_squared_error(y_true = y_test, y_pred = y_treeBagging)

mse_lr = mean_squared_error(y_true = y_test, y_pred = y_lr)

mse_lrBagging = mean_squared_error(y_true = y_test, y_pred = y_lrBagging)

In [28]:
print(mse_tree, mse_treeBagging, mse_lr, mse_lrBagging)

34663693333.48024 17081595379.81519 40789387679.373924 40778479777.893135

In [30]:
r2_tree = r2_score(y_test, y_tree)
r2_treeBagging = r2_score(y_test, y_treeBagging)
r2_lr = r2_score(y_test, y_lr)
r2_lrBagging = r2_score(y_test, y_lrBagging)

In [33]:
print('[Tree - vanila] R-square = {:.2f} | MSE = {:.2f}'.format(r2_tree, mse_tree))
print('[Tree - Bagging] R-square = {:.2f} | MSE = {:.2f}'.format(r2_treeBagging, mse_treeBagging))
print('[Linear - vanila] R-square = {:.2f} | MSE = {:.2f}'.format(r2_lr, mse_lr))
print('[Linear - Bagging] R-square = {:.2f} | MSE = {:.2f}'.format(r2_lrBagging, mse_lrBagging))

[Tree - vanila] R-square = 0.74 | MSE = 34663693333.48
[Tree - Bagging] R-square = 0.87 | MSE = 17081595379.82
[Linear - vanila] R-square = 0.69 | MSE = 40789387679.37
[Linear - Bagging] R-square = 0.69 | MSE = 40778479777.89